:root {
    --padding: 3rem;
    --borderRadius: 3rem;
    --fontSize: 6rem;
    --paddingTopAndBottom: 0.5rem;

    --playIconSize: 14rem;

    --skeletonBorderRadius: 1.2rem;
    --skeletonOpacity: 0.7;

    /* do not touch this variable as it is changed by the code */
    --opacityAnimated: 1;

    --primaryColor: rgb(74, 78, 105);
    --primaryColorTransparent: rgb(74, 78, 105, 0.4);
    --primaryColorLight: rgb(74, 78, 105);
    --secondaryColorLight: rgb(242, 233, 228);
    --secondaryColor: rgb(201, 173, 167);
}

body {
    margin: 0;
    background: var(--secondaryColor);
    background: linear-gradient(15deg, white 0%, var(--secondaryColorLight) 100%);
}

/* scroll snap takes care of restoring scroll position */
.swipe-container {
    /* margin for demo only
    margin: 2rem; */
    display: flex;
    overflow: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /* space for the jiggle animation so it is not cut off */
    padding-top: var(--paddingTopAndBottom);
    padding-bottom: var(--paddingTopAndBottom);
}

/* scrollbar should be hidden */
.swipe-container::-webkit-scrollbar {
    display: none;
}

/* main element should always snap into view */
.swipe-element {
    scroll-snap-align: start;
    font-family: sans-serif;
    background-color: var(--primaryColorTransparent);
    border-radius: var(--borderRadius);
    opacity: var(--opacityAnimated);

    overflow: hidden;
}

/* as the fade out is controlled by a function,
the fade in is done via an animation */
.swipe-element.visible {
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: var(--opacityAnimated);
    }

    to {
        opacity: 1;
    }
}

.swipe-element.completed {
    animation: fadeOut 0.6s
}

@keyframes fadeOut {
    from {
        opacity: var(--opacityAnimated);
    }

    to {
        opacity: 0;
    }
}

.swipe-element.jiggle {
    animation: jiggle 0.2s infinite;
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

@keyframes jiggle {
    0% {
        transform: rotate(-0.7deg);
    }

    50% {
        transform: rotate(0.7deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-0.7deg);
    }

    50% {
        -webkit-transform: rotate(0.7deg);
    }
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-0.7deg);
    }

    50% {
        -moz-transform: rotate(0.7deg);
    }
}

/* smooth collapsing and expanding window with margin and ease */
.element-information {
    overflow: visible;
    margin-top: -120%;
    transition: 400ms;
    transition-timing-function: cubic-bezier(.63, .3, .83, .27);
    transition-delay: 750ms;
}

/* returns the margin and the content comes into view */
.swipe-element.expanded>.element-content>.element-information {
    margin-top: 0;
    transition-delay: 0ms;
}

.element-information>div {
    transition: transform 400ms 400ms, opacity 400ms 400ms !important;
    transform: translateY(2rem);
    opacity: 0;
}

/* fade in for content */
.swipe-element.expanded>.element-content>.element-information>div {
    transition: transform 400ms 400ms, opacity 400ms 400ms !important;
    transform: translateY(0);
    opacity: var(--skeletonOpacity);
}

.element-content {
    min-height: var(--fontSize);
    padding: var(--padding);
}

.skeleton {
    opacity: var(--skeletonOpacity);
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: var(--fontSize);
    margin-bottom: .85rem;
    border-radius: var(--skeletonBorderRadius);
}

/* shorten the first line of text */
.skeleton-text.title {
    margin-bottom: 0rem;
    width: 60%;
}

/* shorten the last line of text */
.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

.skeleton-video {
    height: 30rem;
    border-radius: var(--skeletonBorderRadius);
    margin: var(--padding);
    /* center child vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--primaryColor);
    }

    100% {
        background-color: var(--primaryColorTransparent);
    }
}

/* actions and element should be 100% wide */
.action,
.swipe-element {
    min-width: 100%;
}

.action {
    display: flex;
    align-items: center;
}

/* should remain sticky */
.completed-message {
    position: sticky;
    left: var(--padding);
    right: var(--padding);
}

.material-symbols-outlined.check-circle {
    font-size: var(--fontSize);
    color: var(--secondaryColor);
}

.material-symbols-outlined.play-arrow {
    font-size: var(--playIconSize);
    color: var(--primaryColorLight);
}

/* prevent scolling on jiggle */
.disable-scroll {
    overflow-x: hidden;
}

/* icons shouldn't be interactable */
.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}